{{< blogImage
  src="add the url for the tiny image here"
  dataSrc="add the url for the mobile image here 600x480"
  srcSet="add the url for the tiny image here"
  dataSrcSet="add the url for the above mobile image here 1000x800"
  altTag="Create your alt tag"
  titleTag="Give your image a title" >}}