{{< bulletList >}}
{{< bullet text="This is bullet one" >}}
{{< bullet text="This is bullet two" >}}
{{< bullet text="This is bullet three" >}}
{{< bullet text="This is bullet four" >}}
{{</ bulletList >}}