{{< calloutBox headline="Create a Short Powerful Headline" buttonText="Button Text is Optional" >}}
Write your callout. Maybe it's about a location...

Maybe it's about a product where you can use the button...

Maybe it's an important idea you really want the reader to take notice of...
{{</ calloutBox >}}