html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #464646;
}

p {
  color: #464646;
}
