{{ define "main" }}
  {{ $tinyFeatureImage := .Params.tiny_feature_image }}
  {{ $featureImage := .Params.feature_image }}
  {{ $altTag := .Params.feature_image_alt_tag }}
  {{ $titleTag := .Params.feature_image_title_tag }}

  <h1 class="post-title-headline">{{ .Title }}</h1>
  <div class="feature-image-container">
    <div class="post-feature-image-container">
      {{- partial "blog/blog-feature-image.html" (dict "src" $tinyFeatureImage "dataSrc" $featureImage "altTag" $altTag "titleTag" $titleTag) -}}
    </div>
  </div>
  <div class="post-container">
    <div class="blog-content-container">
      {{ .Content }}
    </div>
  </div>
{{ end }}
