.about-picture-container {
  position: relative;
  padding-top: calc(7 / 5 * 100%);
  border-radius: 16px;
  width: 100%;
  line-height: 0;
  overflow: hidden;
}

.about-feature-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 16px;
  width: 100%;
  filter: blur(6px);
  transition: filter 1000ms ease-in-out;
}