.about-picture-container {
  position: relative;
  padding-top: calc(650 / 800 * 100%);
  border-radius: 16px;
  width: 100%;
  line-height: 0;
  overflow: hidden;
}

.about-feature-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 16px;
  width: 100%;
  filter: blur(6px);
  transition: filter 1000ms ease-in-out;
}

.about-page-container {
  margin: 80px 0 0 0;
  align-self: center;
  padding: 0 12px;
  width: 100%;
  max-width: 800px;
}

.about-page-container h1 {
  font-size: 46px;
  color: #3f3f3f;
}

.about-page-container h2, 
.about-page-container h3 {
  margin: 80px 0 30px 0;
  font-size: 46px;
  color: #3f3f3f;
}


.about-content-container {
  margin: 40px 0 0 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

.about-content p {
  margin-bottom: 26px;
  font-size: 15px;
  color: #484848;
  line-height: 1.8;
}