.post-title-headline {
  margin: 80px 0 0 0;
  padding: 0 12px;
  font-size: 34px;
  color: #303030;
}

.feature-image-container {
  width: 100%;
  max-width: 1440px;
}

.post-feature-image-container {
  position: relative;
  margin: 30px 0 0 0;
  padding: 0 0 12px 0;
  padding-top: calc(21 / 40 * 100%);
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  overflow: hidden;
}

.post-feature-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  object-fit: cover;
  filter: blur(6px);
  transition: filter 1000ms ease-in-out;
}

.post-container {
  align-self: center;
  padding: 0 12px;
  width: 100%;
  max-width: 800px;
}

.blog-content-container {
  margin: 80px 0 0 0;
}

.blog-content-container h3 {
  margin: 80px 0 30px 0;
  font-size: 46px;
  color: #3f3f3f;
}

.blog-content-container p {
  margin-bottom: 26px;
  color: #484848;
  line-height: 1.8;
}

.blog-content-bullet-list {
  margin: 60px 0;
}

.blog-content-bullet-list li {
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: 14px 1fr;
  gap: 8px;
  align-items: center;
}

.blog-content-bullet-list li:last-child {
  margin-bottom: 0;
}

.blog-content-container ul {
  list-style: none;
}

.blog-content-container ol {
  margin: 60px 0;
}

.blog-content-container ol li {
  margin-bottom: 12px;
}

.blog-picture-container {
  position: relative;
  padding-top: calc(20 / 25 * 100%);
  width: 100%;
  overflow: hidden;
}

.blog-post-inline-srcset {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  object-fit: cover;
  filter: blur(6px);
  transition: filter 1000ms ease-in-out;
}

.blog-post-inline-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  object-fit: cover;
  filter: blur(6px);
  transition: filter 1000ms ease-in-out;
}

/********** Callout Box Card **********/
.callout-box-default-container {
  margin: 70px 0 70px 0;
  padding: 12px;
  background-color: #f5f1ed;
  border-radius: 6px;
  box-shadow: 0 2px 6px -3px rgba(0, 0, 0, 0.5);
}

.callout-box-default-content-container {
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  gap: 12px;
  border: 2px solid #cccccc;
  border-radius: 4px;
}

.callout-box-default-content-container h4 {
  font-size: 34px;
}

.callout-box-message {
  justify-self: center;
  width: 90%;
}

.callout-box-message p {
  font-size: 15px;
}

.callout-box-button {
  justify-self: center;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #f8f8f8;
  background-color: #3d6f44;
  border-radius: 16px;
  width: 245px;
  height: 48px;
  transition: background-color 300ms ease-in-out;
}

/********** Cairn Tip Card **********/
.cairn-tip-container {
  margin: 70px 0 70px 0;
  padding: 12px;
  background: #3d6f44;
  border-radius: 10px;
  box-shadow: 0 2px 6px -3px rgba(0, 0, 0, 0.5);
}

.cairn-tip-content-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 8px;
  background: #3d6f44;
  border: 2px solid #314d35;
  border-radius: 8px;
}

.cairn-rock-container {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 8px;
  justify-items: center;
  width: 100%;
}

.cairn-rock-container p {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #314d35;
}

.cairn-rock-icon {
  width: 80px;
}

.cairn-content p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #f8f8f8;
  line-height: 1.4;
}

/********** Above Mobile **********/
@media (min-width: 600px) {
  .post-container {
    padding: 0 42px;
  }

  .cairn-tip-content-container {
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
    align-items: center;
  }

  .cairn-rock-container {
    align-self: start;
    width: 130px;
  }

  .cairn-rock-container p {
    margin: 0;
  }
}

/********** Above Tablet **********/
@media (min-width: 960px) {
  .post-title-headline {
    font-size: 58px;
  }

  .post-container {
    padding: 0;
  }

  .blog-content-container h3 {
    font-size: 52px;
  }
}

/********** Above Ipad **********/
@media (min-width: 1100px) {
}

/********** Above Laptop **********/
@media (min-width: 1445px) {
  .post-feature-image-container {
    border-radius: 8px;
  }

  .post-feature-image {
    border-radius: 8px;
  }
}
