.post-title-headline {
  margin: 80px 0 0 0;
  padding: 0 12px;
  font-size: 34px;
  color: #303030;
}

.post-feature-image-container {
  margin: 30px 0 0 0;
  padding: 12px 0;
  background: rgba(0, 0, 0, 0.2);
  line-height: 0;
}

.post-feature-image {
  width: 100%;
  max-width: 1400px;
}

.post-container {
  padding: 0 12px;
  /* background: #efefef; */
  width: 100%;
  max-width: 800px;
}

.blog-content-container {
  margin: 80px 0 0 0;
}

.blog-content-container h3 {
  margin: 80px 0 30px 0;
  font-size: 46px;
  color: #3f3f3f;
}

.blog-content-container p {
  margin-bottom: 26px;
  font-size: 18px;
  color: #484848;
  line-height: 1.8;
}

.blog-content-bullet-list {
  margin: 60px 0;
}

.blog-content-container ul {
  list-style: none;
}

.blog-content-container ol li {
  margin-bottom: 12px;
  font-size: 18px;
}

.unordered-list-item {
  margin-bottom: 12px;
  font-size: 18px;
  display: grid;
  grid-template-columns: 14px 1fr;
  gap: 8px;
  align-items: center;
}

.unordered-list-item:last-child {
  margin-bottom: 0;
}

.callout-box-default-container {
  margin: 70px 0 70px 0;
  padding: 12px;
  background-color: #f5f1ed;
  border-radius: 6px;
  box-shadow: 0 2px 6px -3px rgba(0, 0, 0, 0.5);
}

.callout-box-default-content-container {
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  gap: 12px;
  border: 2px solid #cccccc;
  border-radius: 4px;
}

.callout-box-default-content-container h4 {
  font-size: 34px;
}

.callout-box-message {
  justify-self: center;
  width: 90%;
}

.callout-box-message p {
  font-size: 15px;
}

.callout-box-button {
  justify-self: center;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #f8f8f8;
  background-color: #3d6f44;
  border-radius: 16px;
  width: 245px;
  height: 48px;
  transition: background-color 300ms ease-in-out;
}

/* Above Mobile */
@media (min-width: 600px) {
  .post-container {
    padding: 0 42px;
  }
}

/* Above Tablet */
@media (min-width: 960px) {
  .post-title-headline {
    font-size: 58px;
  }

  .post-container {
    padding: 0;
  }

  .blog-content-container h3 {
    font-size: 52px;
  }
}

/* Above iPadPro */
@media (min-width: 1100px) {
}

/* Above Laptop */
@media (min-width: 1445px) {
  .post-feature-image-container {
    padding: 12px;
    border-radius: 8px;
  }

  .post-feature-image {
    border-radius: 5px;
  }
}
