.contact-form {
  margin: 40px 0 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  gap: 40px;
  width: 100%;
  max-width: 600px;
}

.form-input-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 12px;
}

.contact-form-label {
  font-size: 14px;
  font-weight: 600;
  color: #484848;
  text-transform: uppercase;
  transform: translate(16px, 8px);
}

.contact-text-input,
.contact-text-area {
  padding: 12px;
  font-family: sans-serif;
  font-size: 16px;
  color: #484848;
  border-style: solid;
  border-width: 2px;
  border-color: #484848;
  border-radius: 16px;
  outline: none;
  transition: box-shadow, border-color, 300ms ease-in-out;
}

.contact-text-input:focus,
.contact-text-area:focus {
  border-color: #3d6f44;
  box-shadow: 0 0 0 2px #f8f8f8, 0 0 0 4px #3d6f44;
}

.contact-text-input::placeholder,
.contact-text-area::placeholder {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.form-button {
  justify-self: center;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #f8f8f8;
  background-color: #3d6f44;
  border: none;
  border-radius: 16px;
  width: 245px;
  height: 48px;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}
