html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

main {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: #464646;
}

p {
  margin: 0;
  padding: 0;
  color: #464646;
}

img {
  margin: 0;
  padding: 0;
}
