@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  src: url("/fonts/Roboto-Black.woff2") format("woff2");
  font-display: fallback;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background: #fff;
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: RobotoBold, sans-serif;
  color: #464646;
}

p {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  color: #464646;
}

li {
  font-family: sans-serif;
  font-size: 18px;
  color: #464646;
}

a {
  font-family: sans-serif;
  font-size: 18px;
}

img {
  margin: 0;
  padding: 0;
}

.base-page-container {
  margin: 80px 0 0 0;
  padding: 0 12px;
  width: 100%;
  max-width: 600px;
}

.base-content-container {
  margin: 20px 0 0 0;
}

.base-page-container h1 {
  font-size: 34px;
}

.base-content-container p {
  margin-bottom: 26px;
  font-size: 18px;
  color: #484848;
  line-height: 1.8;
}

/********** Above Mobile **********/
@media (min-width: 600px) {
}

/********** Above Tablet **********/
@media (min-width: 960px) {
  .base-page-container {
    margin: 120px 0 0 0;
    padding: 0;
  }
}

/********** Above Ipad **********/
@media (min-width: 1100px) {
}

/********** Above Laptop **********/
@media (min-width: 1445px) {
}
