.home-container {
  margin: 80px 0 0 0;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}

.home-logo {
  width: 100%;
  max-width: 600px;
}

.blog-post-list-container {
  margin: 60px 0 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 60px;
  justify-items: center;
  width: 100%;
}

.post-card-link {
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
}

.post-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 16px;
  width: 100%;
  height: min-content;
  box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.post-card-feature-image-container {
  position: relative;
  padding-top: calc(21 / 40 * 100%);
  border-radius: 16px 16px 0 0;
  width: 100%;
  line-height: 0;
  overflow: hidden;
}

.post-card-feature-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: blur(6px);
  transition: filter 1000ms ease-in-out;
}

.post-card-tag-container {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 12px 2px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 60px 0 0 60px;
  height: 40px;
}

.blog-tag-icon {
  width: 24px;
  cursor: pointer;
}

.blog-tag-label {
  margin-left: 12px;
  font-size: 13px;
  color: #ececec;
  text-transform: uppercase;
}

.post-card-content {
  padding: 20px 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 12px;
  justify-items: start;
  height: 100%;
}

.post-card-content h3 {
  font-size: 26px;
}

.post-card-content p {
  font-size: 15px;
  line-height: 1.4;
}

.post-card-content button {
  justify-self: center;
  align-self: end;
  margin-top: 10px;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #f8f8f8;
  background-color: #3d6f44;
  border: none;
  border-radius: 16px;
  width: 245px;
  height: 48px;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.post-card-content button:hover {
  background-color: #bd4262;
}

.post-card-content button .blog-post-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #e1e1e1;
  border-radius: 16px;
  width: 360px;
}

.blog-post-card p {
  margin-top: 20px;
}

@media (min-width: 600px) {
  .home-container {
    padding: 0 18px;
  }

  .blog-post-list-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 14px;
  }
}

@media (min-width: 960px) {
  .home-container {
    padding: 0 18px;
  }

  .blog-post-list-container {
    margin: 100px 0 0 0;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  .post-card-container {
    width: 420px;
  }
}

@media (min-width: 1100px) {
  .blog-post-list-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .post-card-link {
    transition: transform 300ms ease-in-out;
  }

  .post-card-link:hover {
    transform: translateY(-6px);
  }
}
