{{ $blogPostCSS := resources.Get "css/blog-post.css" | resources.Minify }}
{{ $contactCSS := resources.Get "css/contact.css" | resources.Minify }}
{{ $globalCSS := resources.Get "css/global.css" | resources.Minify }}
{{ $headerCSS := resources.Get "css/header.css" | resources.Minify }}
{{ $homeCSS := resources.Get "css/home.css" | resources.Minify }}
{{ $footerCSS := resources.Get "css/footer.css" | resources.Minify }}

<link rel="stylesheet" href="{{ $blogPostCSS.Permalink }}"/>
<link rel="stylesheet" href="{{ $contactCSS.Permalink }}"/>
<link rel="stylesheet" href="{{ $globalCSS.Permalink }}"/>
<link rel="stylesheet" href="{{ $headerCSS.Permalink }}"/>
<link rel="stylesheet" href="{{ $homeCSS.Permalink }}"/>
<link rel="stylesheet" href="{{ $footerCSS.Permalink }}"/>
