{{ $headerJS := resources.Get "js/header.js" | resources.Minify }}
{{ $contactJS := resources.Get "js/contact.js" | resources.Minify }}
{{ $homeJS := resources.Get "js/home.js" | resources.Minify }}
{{ $imageJS := resources.Get "js/images.js" | resources.Minify }}
{{ $functions := resources.Get "js/functions.js" | resources.Minify }}

<script src="{{ $headerJS.Permalink }}" async></script>
<script src="{{ $functions.Permalink }}" async></script>

{{ if eq .Section "blog" }}
  <script src="{{ $imageJS.Permalink }}" async></script>
{{ end }}

{{ if eq .Section "" }}
  <script src="{{ $homeJS.Permalink }}" async></script>
{{ end }}

{{ if in .File.Dir "contact" }}
  <script src="{{ $contactJS.Permalink }}" async></script>
{{ end }}
