<a class="post-card-link" href="{{ .Permalink }}">
  <div class="post-card-container">
    <div class="post-card-feature-image-container">
      <img
        src="{{ .Params.feature_image }}"
        alt="{{ .Params.feature_image_alt_tag }}"
        title="{{ .Params.feature_image_title_tag }}"
      />
      <div class="post-card-tag-container">
        {{- partial "svgs/blog-tag-icon" . -}} {{ range .Params.post_tags }}
        <p class="blog-tag-label">#{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="post-card-content">
      <h3>{{ .Params.title }}</h3>
      <p>{{ .Params.post_teaser_copy }}</p>
      <button class="post-card-button">Read More...</button>
    </div>
  </div>
</a>
