{{ $tinyFeatureImage := .Params.tiny_feature_image }}
{{ $featureImage := .Params.feature_image }}
{{ $altTag := .Params.feature_image_alt_tag }}
{{ $titleTag := .Params.feature_image_tital_tag }}

<a class="post-card-link" href="{{ .Permalink }}">
  <div class="post-card-container">
    <div class="post-card-feature-image-container">
      {{- partial "blog/blog-feature-image.html" (dict "src" $tinyFeatureImage "dataSrc" $featureImage "altTag" $altTag "titleTag" $titleTag) -}}
      {{ partial "blog/tag-chip.html" . }}
    </div>
    <div class="post-card-content">
      <h3>{{ .Params.title }}</h3>
      <p>{{ .Params.post_teaser_copy }}</p>
      <button class="post-card-button">Read More...</button>
    </div>
  </div>
</a>
