{{- $markdown := .Inner | markdownify -}}

{{/* Sets the green background for the tip card  */}}
<div class="cairn-tip-container">
  {{/* Sets the border for the inner border of the tip card */}}
  <div class="cairn-tip-content-container">
    <div class="cairn-rock-container">
      {{- partial "svgs/cairn-rock-icon" . -}}
      <p>Find Your Way</p>
    </div>
    <div class="cairn-content">
      {{/* Looks for an h or p tag and if not there wraps it. */}}
      {{ if not ( findRE "<[h|p][^>]*>" $markdown ) }}
        <p>{{ $markdown }}</p>
      {{ else }}
        {{ $markdown }}
      {{ end }}
    </div>
  </div>
</div>
