<div class="callout-box-default-container">
  <div class="callout-box-default-content-container">
    <h4>Headline</h4>
    <div class="callout-box-message">
      <p>
        This is some callout body copy that will call attention to different
        things.
      </p>
      <p>
        This is some callout body copy that will call attention to different
        things.
      </p>
      <p>
        This is some callout body copy that will call attention to different
        things.
      </p>
    </div>
    <a class="callout-box-button" href="#">Optional Button</a>
  </div>
</div>
